@model List<SweetNela.Models.Producto>

<h2>Productos Recomendados para Ti</h2>

@if (!Model.Any())
{
    <p>No hay recomendaciones disponibles en este momento.</p>
}
else
{
    <div class="row">
        @foreach (var producto in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="@producto.ImageURL" alt="@producto.Name">
                    <div class="card-body">
                        <h5>@producto.Name</h5>
                        <p>S/. @producto.Price</p>
                        <a href="@Url.Action("Details", "Catalogo", new { id = producto.Id })" class="btn btn-primary">Ver Detalles</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
