@model dynamic
@using System.Collections.Generic

@{
    ViewData["Title"] = "Carrito";
    IEnumerable<SweetNela.Models.PreOrden> listItemsCarrito = new List<PreOrden>();
    listItemsCarrito = @Model.elementosCarrito;
    Decimal montoTotal = @Model.montoTotal;
}


<body style="background-color: #69153B;"> <!-- Color vino del fondo -->
    <div class="container mt-5">

        <h1 class="text-white mb-4 text-center">@ViewData["Title"]</h1>

        <div class="text-center mb-3">
            <a class="btn btn-primary" asp-controller="Pago" asp-action="Resumen" asp-route-monto="@montoTotal">Proceder Pago</a>
        </div>

        <p class="text-white text-center">Total S/. @montoTotal</p>

        <div class="table-responsive">
            <table class="table bg-white border shadow-sm rounded">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (PreOrden item in Model.elementosCarrito)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Producto.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Cantidad)</td>
                            <td>@Html.DisplayFor(modelItem => item.Precio)</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
</body>

</html>