@model IEnumerable<SweetNela.Models.Pago>

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-controller="Catalogo" asp-action="Index">Realizar nuevo pedido</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Fecha de Pago
            </th>
            <th>
                Monto Total
            </th>
            <th>
                Estado
            </th>
            <th>
                Usuario
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName) <!-- Cambiado a User.UserName -->
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>